/* @font-face for the minecraft text */
@font-face {
  font-family: "Minecraft Regular";
  src: url("../fonts/1_Minecraft-Regular.eot?") format("eot"),
    url("../fonts/1_Minecraft-Regular.woff") format("woff"),
    url("../fonts/1_Minecraft-Regular.ttf") format("truetype"),
    url("../fonts/1_Minecraft-Regular.svg#Minecraft-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body {
  background: linear-gradient(#bccae4, #9b9ca2);
  overflow: hidden;
  margin: 0;
}
// The modal ui for the chest
.modal-chest-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .modal-chest {
    z-index: 99;
    border: 4px solid #000;
    background: #ceccce;
    color: #575557;
    width: 768px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-sizing: border-box;
    &::before {
      z-index: -9;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      content: "";
      border-top: 8px solid #fefdfe;
      border-left: 8px solid #fefdfe;
      border-right: 8px solid #414041;
      border-bottom: 8px solid #414041;
    }
    .top {
      padding: 20px 20px 10px 20px;
    }
    .middle {
      padding: 0px 20px 10px 20px;
    }
    .bottom {
      padding: 10px 20px 20px 20px;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      .close {
        font-family: "Minecraft Regular";
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        padding: 8px;
        margin-right: 8px;
        margin-bottom: 16px;
        cursor: pointer;
      }
      h4 {
        margin: 0;
        font-size: 40px;
        font-family: "Minecraft Regular";
        font-weight: 500;
      }
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .grid-item {
    height: 80px;
    width: 80px;
    min-height: 80px;
    min-width: 80px;
    background: #969597;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 4px solid #fefdfe;
    border-bottom: 4px solid #fefdfe;
    border-left: 4px solid #414041;
    border-top: 4px solid #414041;
    &.is-over {
      background: lightgreen;
    }
  }
}
